<div class="container mt-5">
  <div class="card shadow-lg border-0 text-center p-5">
   <figure>
      <img 
        src="/logo.png" 
        alt="Consorcio App Logo" 
        class="mb-4 rounded-circle img-thumbnail shadow-sm" 
        style="width: 100px; height: 100px; object-fit: cover;">
    </figure>
    <h1 class="display-4 text-primary">Consorcio App</h1>
    <hr>
    <div class="alert alert-warning py-3" role="alert">
      <strong>Estado:</strong> Sistema en Construcción
    </div>
    <div class="spinner-border text-primary my-3 mx-auto" role="row"></div>
    <p class="lead">Backend Django 6.0.4 + MySQL <span class="badge bg-success">Conectado</span></p>
  </div>
</div>