<div class="navbar">
  <div class="nav-left"></div>

  <div class="navbar-right">

    <div class="perfil" (click)="toggleDropdown()">

      <span class="perfil-nombre">
        <i class="fa-solid fa-circle-user" style="font-size: 24px; margin-right: 8px;"></i>
        {{ usuarioName || loggedUser()?.username || 'Mi Perfil' }}
      </span>

      <div class="dropdown-menu" [class.show]="dropdownOpen">

        <div class="user-info">
          <div>
            <p class="user-name">
              {{ usuarioName || loggedUser()?.username || 'Mi Perfil' }}
            </p>
          </div>
        </div>

        <hr />

        <a routerLink="/dashboard" class="dropdown-item">
          <i class="fa-solid fa-user"></i>
          Mi perfil
        </a>

        <a
          class="dropdown-item">
          <i class="fa-solid fa-gear"></i>
          Configuración
        </a>

        <a
          class="dropdown-item logout"
          (click)="onLogout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          Cerrar sesión
        </a>
      </div>

    </div>
  </div>
</div>