<div class="usuarios-container">

  <h2>Gestión de Usuarios</h2>

  <div class="cards">
    <div class="card">
      <h3>{{usuarios.length}}</h3>
      <p>Total Usuarios</p>
    </div>
    <div class="card">
      <h3>0</h3>
      <p>Propietarios</p>
    </div>
    <div class="card">
      <h3>0</h3>
      <p>Inquilinos</p>
    </div>
  </div>

  <div class="acciones">
    <input type="text" placeholder="Buscar usuario..." [(ngModel)]="textoBusqueda">
    
    <button class="btn-naranja" (click)="abrirModal()">+ Nuevo Usuario</button>
  </div>

  <div class="tabla-responsive-wrapper">
    <table>
      <thead>
        <tr>
          <th>Nombre Completo</th>
          <th>Unidad</th>
          <th>Tipo / Rol</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(usuario of usuarios; track usuario.email){
        <tr>
          <td>{{ usuario.username }}</td>
          @if(usuario.unidad_detalle){
            <td>{{ usuario.unidad_detalle.piso}} - {{ usuario.unidad_detalle.departamento }}</td>
          }@else {
            <span>(Admin)</span>
          }
          <td style="text-transform: capitalize;">{{ usuario.rol }}</td>
          <td>
            <span class="estado-indicador">
              <!-- {{ usuario.esta_activo ? 'Activo' : 'Inactivo' }} -->
            </span>
          </td>
          <td>
            <button class="btn-accion btn-ver">Ver</button>
            <button class="btn-accion btn-editar">Editar</button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" style="text-align: center; padding: 30px; color: #999;">
            No se encontraron usuarios registrados.
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if(mostrarModal) {
<div class="modal-fondo">
  <div class="modal-caja">
    <div class="modal-cabecera">
      <h3>Registrar Nuevo Integrante</h3>
      <button class="btn-cerrar-x" (click)="cerrarModal()">&times;</button>
    </div>
    
    <form [formGroup]="usuarioForm" (ngSubmit)="guardarNuevoUsuario()">
      <div class="modal-cuerpo">
        
        <div class="input-grupo">
          <label>Nombre</label>
          <input type="text" formControlName="username" placeholder="Ej: Juan">
          @if(usuarioForm.get('username')?.touched && usuarioForm.get('username')?.errors?.['required']) {
            <span class="error-msg">El nombre es obligatorio.</span>
          }
        </div>

        <!-- <div class="input-grupo">
          <label>Apellido</label>
          <input type="text" formControlName="apellido" placeholder="Ej: Pérez">
          @if(usuarioForm.get('apellido')?.touched && usuarioForm.get('apellido')?.errors?.['required']) {
            <span class="error-msg">El apellido es obligatorio.</span>
          }
        </div> -->

        <div class="input-grupo">
          <label>Correo Electrónico</label>
          <input type="email" formControlName="email" placeholder="juanperez@email.com">
          @if(usuarioForm.get('email')?.touched && usuarioForm.get('email')?.errors?.['email']) {
            <span class="error-msg">Ingresa un formato de email válido.</span>
          }
        </div>

        <div class="form-group">
          <label for="piso">Piso</label>
          <select id="piso" formControlName="piso" class="form-control">
            <option value="">Seleccione un piso</option>
            @for (u of listaUnidades; track u.id) {
            <option [value]="u.piso">
              Piso {{ u.piso }} 
            </option>
            } @empty {
            <option disabled>No hay unidades cargadas</option>
            }
          </select>
        </div>
        
        <div class="form-group">
          <label for="departamento">Departamento / Unidad</label>
          <select id="departamento" formControlName="departamento" class="form-control">
            <option value="">Seleccione un departamento</option>
          @for (u of listaUnidades; track u.id) {
          <option [value]="u.departamento">
            Depto {{ u.departamento }}
          </option>
          } @empty {
          <option disabled>No hay departamentos cargados</option>
          }
          </select>
        </div>

      </div>

      <div class="modal-pie">
        <button type="button" class="btn-cancelar" (click)="cerrarModal()">Cancelar</button>
        <button type="submit" class="btn-naranja" [disabled]="usuarioForm.invalid">Guardar Usuario</button>
      </div>
    </form>
  </div>
</div>
}