<div class="comunicados-container">
  
  <div class="form-card" *ngIf="isAdmin">
    <h2>Publicar Nuevo Comunicado</h2>
    
    <form [formGroup]="comunicadoForm" (ngSubmit)="guardarComunicado()">
      
      <div class="form-group">
        <label for="titulo">Título del Comunicado</label>
        <input 
          id="titulo" 
          type="text" 
          formControlName="titulo" 
          placeholder="Ej: Corte de agua programado"
        >
        <small class="error-msg" *ngIf="comunicadoForm.get('titulo')?.touched && comunicadoForm.get('titulo')?.errors?.['required']">
          ⚠️ El título es obligatorio para publicar.
        </small>
        <small class="error-msg" *ngIf="comunicadoForm.get('titulo')?.errors?.['maxlength']">
          ⚠️ El título no puede superar los 200 caracteres.
        </small>
      </div>

      <div class="form-group">
        <label for="contenido">Contenido / Detalles</label>
        <textarea 
          id="contenido" 
          formControlName="contenido" 
          rows="5" 
          placeholder="Escriba el comunicado detallado aquí..."
        ></textarea>
        <small class="error-msg" *ngIf="comunicadoForm.get('contenido')?.touched && comunicadoForm.get('contenido')?.errors?.['required']">
          ⚠️ El contenido del comunicado no puede estar vacío.
        </small>
      </div>

      <div class="form-group-checkbox">
        <input 
          id="es_urgente" 
          type="checkbox" 
          formControlName="es_urgente"
        >
        <label for="es_urgente">Urgente (resaltará en la lista)</label>
      </div>

      <button type="submit" [disabled]="comunicadoForm.invalid" class="btn-submit">
        Enviar Comunicado
      </button>
      
    </form>
  </div>

  <hr class="separator" *ngIf="isAdmin">

  
  <h2>Historial de Comunicados</h2>

    <div class="empty-state" *ngIf="listaComunicados.length === 0">
      <p>No hay comunicados registrados hasta el momento.</p>
    </div>

    <div
      class="comunicado-card"
      *ngFor="let c of listaComunicados"
      [class.urgente]="c.es_urgente"
    >

      <div class="icono">
        <i class="bi bi-megaphone-fill"></i>
      </div>

      <div class="contenido">

        <div class="meta">

          <h3>{{ c.titulo }}</h3>

          <div class="header-right">

            <span
              class="badge-urgente"
              *ngIf="c.es_urgente"
            >
              ⚠️ URGENTE
            </span>

            <span class="fecha">
              {{ c.fecha_publicacion | date:'dd/MM/yyyy HH:mm' }}
            </span>

          </div>

        </div>

        <p>{{ c.contenido }}</p>

      </div>

      <button
        *ngIf="isAdmin"
        class="btn-delete"
        (click)="eliminarComunicado(c.id)"
      >
        <i class="bi bi-trash"></i>
      </button>

    </div>

</div>